In [1]:
import pandas as pd

Citirea fisierelor csv si formarea unui DataFrame

In [8]:
df =pd.read_csv('countries_table.csv')

In [9]:
df

,country,region,sub_region,continent,type,jurisdiction
0,Abkhazia,Europe,NaN,Europe,Partially Recognised State,"Post-Soviet ""Frozen Conflict"" Zone"
1,Afghanistan,Asia,Southern Asia,Asia,Country,Independent
2,Ajaria,Europe,NaN,Europe,Region,Political-Administrative Region of Georgia
3,Akrotiri and Dhekelia,Europe,NaN,Europe,Part of a Larger Island,British Overseas Territory
4,Aland Islands,Europe,NaN,Europe,Archipelago,Region of Finland
...,...,...,...,...,...,...
292,Western Sahara,Africa,NaN,Africa,Territory,In Contention
293,Yemen,Asia,NaN,Asia,Country,Independent
294,Zambia,Africa,NaN,Africa,Country,Independent
295,Zanzibar,Africa,NaN,Africa,Archipelago,Part of Tanzania
296,Zimbabwe,Africa,NaN,Africa,Country,Independent

In [10]:
df.shape

(297, 6)

In [14]:
df.iloc[[45,67], [0,1, 2,3]]

         country   region         sub_region            continent
45      Bulgaria   Europe     Eastern Europe               Europe
67  Cook Islands  Oceania  Oceania-Polynesia  Australia / Oceania